
.head{
   text-align: center;
  background-color: #F6F1E9;
}
.Crescendo{
background-color: #DAF5FF;
}
.cres{
  border-radius: 50%;
}
.cimg1{
  border-radius: 50%;
}
.cimg2{
  border-radius: 50%;
}
.cres-button {
  background-color: #FDF7C3;
  font-size: 13px;
  border-radius: 50%;
}
.cice-button {
  background-color: #DDFFBB;
  font-size: 13px;
  border-radius: 50%;
}
.rad-button {
  background-color: #ECC9EE;
  font-size: 13px;
  border-radius: 50%;
}
.jpeg-button {
  background-color: #FFB4B4;
  font-size: 13px;
  border-radius: 50%;
}
.CICE{
  margin: 0px;

  background-color: #E3F2C1;
}
.cimg1{
  border-radius: 50%;
}
.cimg2{
  border-radius: 50%;
}
.cimg3{
  border-radius: 50%;
}
.Radiance{
  background-color: #E5BEEC;
}
.rad{
  border-radius: 50%;
}
.rimg1{
  border-radius: 50%;
}
.rimg2{
  border-radius: 50%;
}
.JPEG{
  background-color: #FEF2F4;
}
.jpeg{
  border-radius: 50%;
}
.jimg1{
  border-radius: 50%;
}
.jimg2{
  border-radius: 50%;
}
